<footer class="footer-v2">
  <div class="container">
    <div class="row">
      <div class="footer-col1">
        <div class="widget"> <a href="index.html"><img src="images/logoWhite100.png" alt="logo" /></a> </div>
      </div>
		<!-- <div class="footer-col2">
        <div class="widget widget-links">
          <h4 class="widget-title">Useful links</h4>
          <div class="row">
            <div class="col-md-6">
              <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="venues.html">Venues</a></li>
                <li><a href="harassment-policy.html">Harassment Policy</a></li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul>
                <li><a href="schedule.html">Schedule</a></li>
                <li><a href="pricing.html">Pricing</a></li>
                <li><a href="http://2018madisoninvasion.dancecamps.org/booking.php" target="_blank">Register</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div> -->
      <div class="footer-col2">
          <div class="widget widget-links">
            <h4 class="widget-title">Useful links</h4>
            <div class="row">
              <div class="col-md-6">
                <ul>
                  <li><a href="pricing.html">Pricing</a></li>
                  <li><a href="harassment-policy.html">Harassment Policy</a></li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul>
                  <li><a href="index.html">Home</a></li>
                  <li><a href="venues.html">Venues</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="copyright"> Presented by <a href="http://jumptownswing.com" target="_blank">Jumptown</a><br>A 501(c)3 Non-Profit </div>
  </div>
</footer>
