<div class="covid">
  Due to the COVID-19 pandemic, we are going to hold madison invasion ONLINE.<br/>
  No part of the event will be held live in Madison, but we are hoping to still offer<br/>
  video classes, livestreams from our bands, and more.
  <!-- We have updated our <a href="pricing.html">pricing</a> and plan to give refunds accordingly.<br/>
  Please check out what we are <a href="online.html">still planning to offer</a>. -->
</div>
<header class="sticky-bar">
    <div class="bottom-header">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-xs-6">
            <div class="logotext"><a href="index.html">Madison Invasion</a></div>
          </div>
          <div class="col-md-8 col-xs-6">
          <nav class="main-nav">
            <div class="responsive-menu"><i class="fa fa-bars"></i></div>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="#">Info</a>
                <ul>
                  <li><a href="instructors.html">Instructors</a></li>
                  <li><a href="classes.html">Classes</a></li>
                  <!-- <li><a href="comps.html">Competitions</a></li> -->
                  <li><a href="music.html">Music</a></li>
                  <li><a href="pricing.html">Pricing</a></li>
                  <li><a href="schedule.html">Schedule</a></li>
                  <li><a href="venues.html">Venues &amp; Parking</a></li>
                  <li><a href="accom.html">Accommodations</a></li>
                  <li><a href="faq.html">FAQ</a></li>
                </ul>
              </li>

              <li><a href="contact.html">Contact</a></li>
              <li><a href="donate.html">Donate</a></li>
              <li><a href="https://madisoninvasion20.dancecamps.org" target="_blank">Register</a></li>
            </ul>
          </nav>
        </div>
        </div>
      </div>
    </div>
  </header>
